p {
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 3vw;
    text-align: center;
    color: #3c3c3d;
}

h1 {
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 1.5vw;
    color: #3c3c3d;
}

h2 {
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 2vw;
    color: #3c3c3d;
    text-align: center;
}

.download {
    width: 3vw;
    border: 2px solid #3c3c3d;
    border-radius: 10px;
}

.ingame1 {
    width: 10vw;
    border: 5px solid #3c3c3d;
    border-radius: 10px;
}

.ingame2 {
    width: 10vw;
    border: 5px solid #3c3c3d;
    border-radius: 10px;
}

.lobby {
    width: 10vw;
    border: 5px solid #3c3c3d;
    border-radius: 10px;
}

.foto {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.foto img {
    max-width: 100%;
    height: auto;
}

.instagram {
    width: 3vw;
    border: 3px solid #3c3c3d;
    border-radius: 20px;
}

.container {
    text-align: center;
}

body {
    background-color: #e1e1e3;
}

@media (max-width: 600px) {
    .foto {
        display: block;
    }

    .foto img {
        display: block;
        margin: 0 auto 10px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .instagram {
        width: 4rem;
    }

    .download {
        width: 4rem;
    }
}