body {
    background-color: #e1e1e3;
    font-family: "Fira Sans Condensed", sans-serif;
    margin: 0;
    padding: 0;
}

p {
    font-size: 3vw;
    text-align: center;
    color: #3c3c3d;
}

header h1 {
    font-size: 1.5vw;
    color: #3c3c3d;
    text-align: left;
    margin-left: 10px;
}

.download-section {
    text-align: left;
    margin: 20px 10px;
}

.download {
    width: 3vw;
    border: 2px solid #3c3c3d;
    border-radius: 10px;
}

.gallery h2 {
    font-size: 2vw;
    color: #3c3c3d;
    text-align: center;
}

.foto {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.foto img {
    width: 10%;
    margin: 10px;
    border: 5px solid #3c3c3d;
    border-radius: 10px;
}

.container {
    text-align: center;
    margin: 20px 0;
}

.instagram {
    width: 3vw;
    border: 3px solid #3c3c3d;
    border-radius: 20px;
}

@media (max-width: 600px) {
    .foto {
        display: block;
    }

    .foto img {
        width: 100%;
        margin: 0 auto 10px;
    }

    header h1 {
        font-size: 2rem;
    }

    .gallery h2 {
        font-size: 1.5rem;
    }

    .instagram, .download {
        width: 4rem;
    }
}
